<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdateModules.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="UpdateModules.ApplicationConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <UpdateModules.GeneralSettings>
            <setting name="Descriptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Module2</string>
                        <string>A Simplified version of Enums that can be used globally</string>
                        <string>A collection of string utilities incl. Piece, Extract and Contains</string>
                        <string>A collection of system utilities incl. setRegKey, getRegKey</string>
                        <string>A helper module for the simplified Enums</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RequiredModules" serializeAs="String">
                <value>StringUtils,SysUtils,ZEnumHelper,SimpleEnum</value>
            </setting>
        </UpdateModules.GeneralSettings>
    </applicationSettings>
</configuration>